<div class="row">
    <div class="col-md-2"></div>
    <div class="col">
        
        <img src="/assets/images/Vikash_Sinha_Photo.jpg" alt="Vinod Kumar Kayartaya" 
        class="img-thumbnail" width="200" height="300">

        <h1>Angular Question application</h1>
        <p>Powered by Angular 10.0.4</p>
        <p>Developed by <a href="https://github.com/vikashal" target="_blank">Vikash Sinha</a></p>
        <p>Email: <a href="mailto:vikash1a2b3c@gmil.com">vikash1a2b3c@gmil.com</a></p>
        <p>Phone: +91 8789246572</p>

    </div>
    <div class="col-md-2"></div>
</div>